body {
  font-family: 'Inter Tight', Arial, sans-serif;
}

.instagram-icon {
	width: 50px;
}

.nav a {
	position: relative;
	transition: all 150ms;
}

.nav a:before, .nav a:after {
	content: "";
	height: 0px;
	background-color: black;
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	transition: all 150ms;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
	color: white;
}

.nav a:hover:after,
.nav a:focus:after,
.nav a:active:after {
	transition: all 150ms;
	background-color: white;
	height: 100%;
	top: 0;
	background-color: black;
	z-index: -1;
}

.nav a.active {
	color: white;
}

.nav a.active:after {
	background-color: white;
	height: 100%;
	top: 0;
	background-color: black;
	z-index: -1;
}


.nav--sub:before {
	top: 14px;
}

.nav--none {
	position: static;
}

.nav--none:before {
	content: none !important;
}

.fslightbox-toolbar > div:first-child,
.fslightbox-slide-number-container {
	display: none !important;
}

img {
	width: 100%;
}

.photo-item {
	/*position: relative;*/
}

.photo-item .hidden {
	position: absolute;
	transform: translate(0, 0);
	z-index: -2;
}

.photo-item:nth-child(1) .hidden {
	left: 0;
	bottom: 0;
}

.photo-item:nth-child(2) .hidden {
	right: 0;
	bottom: 0;
}

.photo-item:nth-child(3) .hidden {
	right: 0;
	top: 0;
}

.photo-item:nth-child(4) .hidden {
	left: 0;
	top: 0;
}

.photo-item:hover .hidden {
	display: block;
}
