body {
  font-family: 'Inter Tight', Arial, sans-serif;
}

.instagram-icon {
  width: 50px;
}

.nav a {
  position: relative;
  transition: all 150ms;
}

.nav a:before, .nav a:after {
  content: "";
  height: 0px;
  background-color: black;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transition: all 150ms;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
  color: white;
}

.nav a:hover:after,
.nav a:focus:after,
.nav a:active:after {
  transition: all 150ms;
  background-color: white;
  height: 100%;
  top: 0;
  background-color: black;
  z-index: -1;
}

.nav a.active {
  color: white;
}

.nav a.active:after {
  background-color: white;
  height: 100%;
  top: 0;
  background-color: black;
  z-index: -1;
}


.nav--sub:before {
  top: 14px;
}

.nav--none {
  position: static;
}

.nav--none:before {
  content: none !important;
}

img {
  width: 100%;
}

.photo-item .hidden {
  position: absolute;
  transform: translate(0, 0);
  z-index: -2;
}

.photo-item:nth-child(1) .hidden {
  left: 0;
  bottom: 0;
}

.photo-item:nth-child(2) .hidden {
  right: 0;
  bottom: 0;
}

.photo-item:nth-child(3) .hidden {
  right: 0;
  top: 0;
}

.photo-item:nth-child(4) .hidden {
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.photo-item:nth-child(5) .hidden {
  left: 0;
  bottom: 0;
}

.photo-item a:hover ~ .hidden {
  display: block;
}

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-content {
  flex: 1;
  width: 100%;
}

.footer {
  margin-top: 48px;
  padding: 12px 0;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.hp-item {
  position: relative;
}

.hp-item span {
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s;
  position: absolute;
  z-index: 1;
  font-size: 80px;
  font-weight: 200;
  transition: all .3s;
  line-height: 1;
}

.hp-item-1 span {
  right: 0;
  bottom: 0;
}

.hp-item-2 span {
  left: 0;
  bottom: 0;
}

.hp-item-3 span {
  right: 0;
  top: 0;
}

.hp-item-4 span {
  left: 0;
  top: 0;
}

.hp-item:hover span {
  visibility: visible;
  opacity: 1;
  color: white;
}

.hp-item span:before, .hp-item span:after {
  content: "";
  height: 0px;
  background-color: black;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transition: all 150ms;
}

.hp-item:hover span,
.hp-item:focus span,
.hp-item:active span {
  color: white;
}

.hp-item:hover span:after,
.hp-item:focus span:after,
.hp-item:active span:after {
  transition: all 150ms;
  background-color: white;
  height: 100%;
  top: 0;
  background-color: black;
  z-index: -1;
}

.hp-item span.active {
  color: white;
}

.hp-item span.active:after {
  background-color: white;
  height: 100%;
  top: 0;
  background-color: black;
  z-index: -1;
}
